In [174]:
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [175]:
data['b']

0.5

In [176]:
'a' in data

True

In [177]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [178]:
dict(data.items())

{'a': 0.25, 'b': 0.5, 'c': 0.75, 'd': 1.0}

In [179]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [180]:
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [181]:
# slicing by explicit index
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [182]:
# slicing by implicit integer index
data[0:2]

a    0.25
b    0.50
dtype: float64

In [183]:
# masking
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [184]:
# fancy indexing
data[['a', 'e']]

a    0.25
e    1.25
dtype: float64

In [185]:
data = pd.Series(['a', 'b', 'c', 'd'], index=[1, 3, 5, 7])
data

1    a
3    b
5    c
7    d
dtype: object

In [186]:
# explicit index when indexing
data[1]

'a'

In [187]:
# implicit index when slicing
data[0:3]

1    a
3    b
5    c
dtype: object

In [188]:
# implicit index when slicing
data[1:3]

3    b
5    c
dtype: object

In [189]:
data

1    a
3    b
5    c
7    d
dtype: object

In [190]:
data.loc[1]

'a'

In [191]:
data.loc[1:3]

1    a
3    b
dtype: object

In [192]:
data.iloc[1]

'b'

In [193]:
data.iloc[1:3]

3    b
5    c
dtype: object

In [194]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [195]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [196]:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [197]:
data.area is data['area']

True

In [198]:
data.pop is data['pop']

False

In [199]:
type(data['pop'])

pandas.core.series.Series

In [200]:
type(data.pop) #pop()

method

In [201]:
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [202]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

In [203]:
data.T #transpose

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

In [204]:
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [205]:
data.values[0]

array([4.23967000e+05, 3.83325210e+07, 9.04139261e+01])

In [206]:
data.iloc[0]

area       4.239670e+05
pop        3.833252e+07
density    9.041393e+01
Name: California, dtype: float64

In [207]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [208]:
data.iloc[:3, :2]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [209]:
data.loc[:'Florida', :'pop']

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860

In [211]:
# data.ix[:3, :'pop'] 
# not supported anymore

In [210]:
#true approach
data.iloc[:3][['pop']]

                 pop
California  38332521
Texas       26448193
New York    19651127

In [212]:
data.loc[ data.density > 100,['pop', 'density']]

               pop     density
New York  19651127  139.076746
Florida   19552860  114.806121

In [213]:
data.iloc[0, 2] = 90
data

              area       pop     density
California  423967  38332521   90.000000
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [214]:
data['Florida':'Illinois']

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

In [215]:
data

              area       pop     density
California  423967  38332521   90.000000
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [216]:
data[1:3]

            area       pop     density
Texas     695662  26448193   38.018740
New York  141297  19651127  139.076746

In [217]:
data[data.density < 100]

              area       pop    density
California  423967  38332521  90.000000
Texas       695662  26448193  38.018740
Illinois    149995  12882135  85.883763